.apparea {
    width:60%;
    height: 730px;
   /* background-color:lightgreen;*/
    position: relative;
    margin:10% auto;
}
.rowarea,.taskarea{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left:10%;
}
.taskarea{
    z-index: 10;
    width: 90%;
    height: 100%;
   /* background-color: white; */
}
.taskdetail{  
    border-left:2px darkblue solid ;
    background-color: skyblue;
    position: absolute;
    box-sizing: border-box;
    text-align: left;
    float: left;
}
.maintask {
    height: 720px;
    width: 50%;
    background-color: lightblue;
    margin-left: 6%;   
}
.taskSplit {
    height: 30px; 
}
.rowTypeOne {
    background-color: lightgrey; 
    border-top: 1px solid;
    box-sizing: border-box;
}
.rowTypeTwo {
    background-color: lightgrey; 
    border-top: 1px dashed;
    box-sizing: border-box;
}
.rowTypeThree {
    background-color: darkgrey; 
    border-top: 1px solid;
    
    box-sizing: border-box;
}
.rowTypeFour {
    background-color: darkgrey; 
    border-top: 1px dashed;
   
    box-sizing: border-box;
}
.timearea {
    width: 10%;
   /* background-color: lightyellow;*/
    height: 720px;
    position: relative;
}





.taskList{
    position: absolute;
    height:30px;
    width:auto;
    background-color: skyblue;
}
.inClass{
    display: block;
}
.col-1{
    width:33.33%;
}
.col-2{
    width:50%;
}
.col-3{
    width:100%;
}
.col-2:nth-child(2) {
    margin-left: 50%;   
}
.col-2:nth-child(even) {    
    margin-left: 50%;  
}